.nav {
  background-color: #2f3351;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}

.nav-list__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1rem;
}

.nav-list__link:hover {
  color: #db797b;
}
